.admin-stats {
  display: flex;

  .admin-statsContainer {
    margin-left: 220px;
    padding: 20px;
    padding-top: 60px;
    flex: 1;
    background-color: var(--color-bg);
    min-height: 100vh;
    color: var(--color-text);
    overflow-x: auto;

    .statscard {
      padding: 5px 20px;
    }
  }
}
